<div class="show-page">
  <div class="mx-auto" style="width: 500px;">
<h3>PostDetails</h3>
<p><%= image_tag @picture.image %></p>
<p><%= @picture.content %></p>

<% unless @picture.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(picture_id: @picture.id), method: :delete, class: 'btn btn-outline-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-outline-warning' %>
  <% end %>
<% end %>
</div>
</div>
